@font-face {
  font-family: bookos;
  src: url(../fonts/bookman-old-style/bookman_old_style.ttf);
}

@font-face {
  font-family: clarendon;
  src: url(../fonts/clarendon/CLARENDO.ttf);
}

@font-face {
  font-family: segoeprint;
  src: url(../fonts/segoe-print/segoepr.ttf);
}

* {
  font-family: bookos;
  padding: 0;
  margin: 0;
}

.parent-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.parent-wrapper .navbar {
  height: 83px;
  background-color: black;
  color: white;
  position: relative;
  display: flex;
  font-size: 27pt;
  justify-content: space-between;
  align-items: center;
  padding: 0 18.5px;
}
.parent-wrapper .navbar .nav-menu .nav-link.menu-toggler {
  color: #9900CC;
}
.parent-wrapper .navbar .nav-menu .nav-link.menu-toggler i {
  font-size: 4rem;
}

.parent-wrapper .content {
  position: relative;
  flex: 1;
  background-image: url(../images/foto.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  z-index: 2;
}
.parent-wrapper .content::before {
  position: absolute;
  width: 100%;
  height: 100%;
}
.parent-wrapper .footer {
  position: relative;
  height: 163.2px;
  background-color: black;
}
